@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
/*html::-webkit-scrollbar {
    display: none;
}*/
body {
    width: 100vw;
    min-height: 100vh;   
    position: absolute;
    overflow-x: hidden;
}

/*NAVIGATION PANEL*/
nav {
    padding-left: 103px;
    padding-right: 75px;
    height: 60px;
    z-index: 10;
    box-shadow: 2px 0px 10px 1px grey;
}
nav > a img {
    width: 28%;
}
/*.navbar button[class=navbar-toggler] {
    
}*/
.navbar-toggler {
    border: none;
    outline: none;
    padding: 3px;
    margin-right: 8px;
}
.collapse {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: end;
    background: white;
}
.navbar-nav {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: end;
}
.navbar-nav li {
    padding-right: 15px;
}
.navbar-nav li a {
    text-decoration: none;
    color: hsl(240, 93%, 11%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    word-spacing: normal;
}
.navbar-nav li a:hover {
    color: rgb(202, 19, 19);
}
.navbar-nav li a:after {
    content: "";
    display: block;
    margin: left;
    background-color: rgb(202, 19, 19);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.navbar-nav li a:hover:after {
    width: 70%;
}
.navbar-nav a.active {
    color: rgb(202, 19, 19);
}
/*.form-inline {
    color: #555;
    display: flex;
    padding: 2px 2px 2px 2px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.form-inline input {
    border: none;
    background: transparent;
    margin-right: 0px;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid rgb(235, 225, 225);
    border-radius: inherit;
    width: 275px;
}
.form-inline input::placeholder {
    color: hsl(0, 3%, 66%);
}
.form-inline input:focus::placeholder {
    color: rgb(161, 154, 154);
}
.nav-search button {
    text-indent: -999px;
    overflow: hidden;
    width: 45px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent;
    cursor: pointer;
    opacity: 0.7;
}
.nav-search button:hover {
    opacity: 1;
}
.form-inline input:focus {
    box-shadow: 0 0 5px  0 rgb(196, 189, 189);
    border-color: rgb(236, 227, 227);
    outline: none;
}
.form-inline button {
    background: white;
    border: 1px solid white;
}
.form-inline button:active {
    color: none;
    border: 1px solid white;
    box-shadow: none;
}
.form-inline button:hover {
    background: rgb(255, 255, 255);
    border: 1px solid white;
}
.form-inline button:visited {
    border-color: none;
}*/

/*HERO-SLIDER SECTION*/
.hero-container {
    /*border: 1px solid black;*/
    display: block;
    max-width: 100%;
    position: relative;
}
.p-parent {
    margin: 0 auto;
}
.hero-container p {
    position: absolute;
    top: 40%;
    z-index: 1; 
    color: white;
    font-family: Fira sans;
    font-size: 60px;
    /*border: 1px solid white;*/
    width: 100%;
    font-weight: 500;
    text-align: center;
    /*text-decoration-color: rgb(202, 19, 19);
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 6.5px;*/
}
.hero-container img {
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

/*MAIN BODY SECTION*/
h2 {
    padding-left: 100px;
    padding-top: 80px;
}
.content-box {
    display: flex;
    padding-top: 7px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
    /*border: 2px solid black;*/
}
.contact-div {
    width: 50%;
    margin-left: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    /*border: 2px solid black;*/
}
/*.contact-div h2 {
    text-align: center;
}*/
.contact-div p {
    line-height: 1.75em;
}
.mobile-num a {
    text-decoration: none;
}
.sub-contact .line {
    padding-bottom: 9px;
}
.sub-contact .ic {
    color: rgb(199, 17, 17);
    width: 4.5%;
}
.info-note {
    max-width: 100%;
    position: relative;
    padding-left: 0px;
    /*border: 1px solid black;*/
}
.rfq-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    padding-top: 31px;
    padding-left: 25px;
    padding-right: 25px;
    /*border: 2px solid black;*/
}

.rfq-div h6 {
    text-align: center;
    padding-bottom: 13px;
}
.rfq-div input {
    min-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(201, 189, 189);
    border-radius: 4px;
}
.rfq-div input[type=file] {
    background: white;
    cursor: pointer;
    display: block;
    text-align: center;
}
.rfq-div input[type=file]::file-selector-button {
    border: 1px solid rgb(199, 17, 17);
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    transition: transform .6s;
}
.rfq-div input[type=file]::file-selector-button:hover {
    border: 2px solid rgb(199, 17, 17);
}
.rfq-div input[type=file]::file-selector-button:active {
    transform: scale(0.9);
}
.rfq-div input:focus {
    outline: none;
    border: 3px solid grey;
}
.rfq-div button {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(199, 17, 17);
    border: 1px solid rgb(199, 17, 17);
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in-out !important;
    transition: transform .6s;
}
.rfq-div button:hover {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transition: all 0.2s ease-in-out !important;
}
.rfq-div button:active {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transform: scale(0.9);
}
/*
.rfq-div input[type=file] {
    width: 300px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    margin-top: 2px;
    background: #ebe5e5;
    border: 1px solid #555;
    border-radius: 6px;
    cursor: pointer;
}

/*FOOTER SECTION*/
footer {
    background: rgb(32, 32, 32);
    position: relative;
    width: 100%;
    color: white;
    padding: 40px 100px 2px 100px;
    display: block;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: rgb(145, 140, 140)/*rgb(74, 158, 228)*/;
    text-decoration: underline;
    transition: 0.2s all ease-in-out;
}
.upper-footer {
    display: flex;
}
.upper-footer .left {
    width: 55%;
    display: block;
}
.upper-footer .left .social-media a {
    padding-right: 10px;
}
.upper-footer .left p {
    word-spacing: normal;
}
.upper-footer .left .dot {
    font-size: 19px;
}
/*.upper-footer .right a:hover {
    color: ;
}*/
.upper-footer .left p {
    font-weight: 600;
    font-size: 15px;
}
/*Help Center*/
#help-center {
    text-align: right;
    padding-left: 10px;
}
#help-center p {
    font-size: 15px;
}
.hc-form-div form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(201, 189, 189);
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
}
.hc-form-div input::placeholder {
    color: rgb(117, 114, 114);
    opacity: 0.8;
}
.hc-form-div input:focus {
    outline: none;
    border: 3px solid grey;
}
.hc-form-div form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(201, 189, 189);
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
}
.hc-form-div textarea::placeholder {
    color: rgb(117, 114, 114);
    opacity: 0.8;
}
.hc-form-div textarea:focus {
    outline: none;
    border: 3px solid grey;
}
.hc-form-div a {
    text-decoration: none;
}
.hc-form-div button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(199, 17, 17);
    border: 1px solid rgb(199, 17, 17);
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out !important;
    transition: transform .6s;
}
.hc-form-div button:hover {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transition: all 0.3s ease-in-out !important;
}
.hc-form-div button:active {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transform: scale(0.9);
}
.lower-footer p {
    /*border: 1px solid black;*/
    text-align: center;
    font-size: small;
    font-weight: 100;
}
.lower-footer p .o-1 {
    display: none;
    font-weight: 600;
    word-spacing: 10px;
}
.lower-footer p .o-2 {
    word-spacing: normal;
}
.lower-footer .o-3 {
    word-spacing: normal;
}

/*RESPONSIVE DESIGN*/
/*Navigation Bar*/
@media screen and (max-width: 800px) {
    .navbar-nav {
        width: 100% !important;
        padding: 15px 30px 20px 30px !important;
        background-color: white;
        border-radius: 0px 0px 1px 1px;
        margin-top: 12px;
        box-shadow: 0 0 0 10000px rgba(0, 0, 0, .50);
    }
    .collapse {
        background-color: transparent;
    }
     /*.navbar-nav li a {
        border: 1px solid black;
        width: 100%;
    }*/
    .navbar-nav li a:hover:after {
        width: 10%;
    }
}
@media screen and (max-width: 570px) {
    .form-inline input {
        width: 200px;
    }
 }
/*Hero Section*/
@media screen and (max-width: 749px) {
    .hero-container p {
        transition: transform .3s;
        transform: scale(0.85);
    }
}
@media screen and (max-width: 597px) {
    .hero-container img {
        width: 597px;
    }
}

/*Main Body Section*/
@media screen and (max-width: 1075px) {
    .content-box {
        padding-left: 23px;
        padding-right: 23px;
    }
    h2 {
        padding-left: 73px;
        padding-right: 73px;
    }
    .navbar {
        padding-left: 73px;
    }
}
@media screen and (max-width: 959px) {
    .rfq-div {
        padding-top: 5px;
    }
}
@media screen and (max-width: 800px) {
    .content-box {
        display: block;
        padding: 0px 53px 0px 33px;
    }
    h2 {
        padding-left: 45px;
        padding-top: 40px;
        font-size: 31px !important;
    }
    .contact-div, .rfq-div {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 10px;
    }
    .contact-div {
        padding-top: 10px;
    }
    .contact-div p {
        font-size: 15px;
    }
    .rfq-div {
        padding-top: 28px;
    }
    .rfq-div form {
        display: block;
        text-align: center;
    }
    .info-note {
        text-align: left;
        padding-left: 5px;
    }
    .rfq-div input {
        min-width: 60%;
    }
    .rfq-div input[type="file"] {
        max-width: 60%;
        margin: 2px auto;
    }
    .rfq-div button {
        font-size: 14px;
    }
    .navbar {
        padding-left: 38px;
        padding-right: 33px;
    }
    /*.drop-container {
        width: 100%;
    }*/
    footer {
        padding: 40px 40px 2px 40px;
    }
    #help-center {
        padding-left: 40px;
    }
    .social-media {
        display: flex;
        flex-wrap: nowrap;
    }
    #help-center .hidden-text {
        display: none;
    }
    .lower-footer .o-1 {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .rfq-div input[type="file"] {
        min-width: 60%;
    }
}
@media screen and (max-width: 1075px) {
    .sub-contact .ic {
        padding-right: 25px;
    }
}

/*Footer Section*/
/*@media screen and (max-width: 513px) {
    .upper-footer .left {
        display: block;
        line-height: 0.7em;
    }
}
@media screen and (max-width: 343px) {
    .upper-footer .right-social-media {
        display: block;
    }
}*/
