@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
/*html::-webkit-scrollbar {
    display: none;
}*/
body {
    width: 100vw;
    min-height: 100vh;   
    position: absolute;
    overflow-x: hidden;
}

/*NAVIGATION PANEL*/
nav {
    padding-left: 103px;
    padding-right: 75px;
    height: 60px;
    z-index: 10;
    box-shadow: 2px 0px 10px 1px grey;
}
nav > a img {
    width: 28%;
}
/*.navbar button[class=navbar-toggler] {
}*/
.navbar-toggler {
    border: none;
    outline: none;
    padding: 3px;
    margin-right: 8px;
}
.collapse {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: end;
    background: white;
}
.navbar-nav {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: end;
}
.navbar-nav li {
    padding-right: 15px;
}
.navbar-nav li a {
    text-decoration: none;
    color: hsl(240, 93%, 11%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    word-spacing: normal;
}
.navbar-nav li a:hover {
    color: rgb(202, 19, 19);
}
.navbar-nav li a:after {
    content: "";
    display: block;
    margin: left;
    background-color: rgb(202, 19, 19);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.navbar-nav li a:hover:after {
    width: 70%;
}
.navbar-nav a.active {
    color: rgb(202, 19, 19);
}
/*.form-inline {
    color: #555;
    display: flex;
    padding: 2px 2px 2px 2px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.form-inline input {
    border: none;
    background: transparent;
    margin-right: 0px;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid rgb(235, 225, 225);
    border-radius: inherit;
    width: 275px;
}
.form-inline input::placeholder {
    color: hsl(0, 3%, 66%);
}
.form-inline input:focus::placeholder {
    color: rgb(161, 154, 154);
}
.nav-search button {
    text-indent: -999px;
    overflow: hidden;
    width: 45px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent;
    cursor: pointer;
    opacity: 0.7;
}
.nav-search button:hover {
    opacity: 1;
}
.form-inline input:focus {
    box-shadow: 0 0 5px  0 rgb(196, 189, 189);
    border-color: rgb(236, 227, 227);
    outline: none;
}
.form-inline button {
    background: white;
    border: 1px solid white;
}
.form-inline button:active {
    color: none;
    border: 1px solid white;
    box-shadow: none;
}
.form-inline button:hover {
    background: rgb(255, 255, 255);
    border: 1px solid white;
}
.form-inline button:visited {
    border-color: none;
}*/

/*HERO-SLIDER SECTION*/
.carousel-item img {
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}
.carousel-caption {
    text-align: left;
    margin-top: 10% !important;
}
.carousel-caption h1 {
    font-weight: 450;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.carousel-caption p {
    font-weight: normal !important;
}
.btn {
    background-color: rgb(202, 19, 19);
    border: 1px solid rgb(202, 19, 19);
    border-radius: 2px;
    font-size: 15.5px;
    transition: all 0.3s ease-in-out !important;
    transition: transform .6s;
    outline: none !important;
}
.btn:hover {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
}
.btn:active {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transform: scale(0.9);
    outline: none !important;
}

/*MAIN BODY SECTION*/
/*About EE*/
#image-and-text-1 {
    /*border: 5px solid black;*/
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: white;
}
.about-image-div {
    /*border: 1px solid black;*/
    width: 33%;
    padding-left: 65px;
    padding-bottom: 0px;
}
.about-image {
    /*border: 1px solid black;*/
    list-style-type: none;
    min-height: 100%;
}
.about-image li {
    text-decoration: none;
}
.about-image li img {
    /*border: 1px solid black;*/
    display: inline-block;
    width: 360px;
    text-decoration: none;
    max-width: 100%;
    border-radius: 6px;
}
.img-1 {
    margin-top: 9px;
    margin-bottom: 40px;
}
.hidden-atd { /*UI redesign change, remove selector to revert*/
    display: none;
}
.hidden-atd h3 { /*UI redesign change, remove selector to revert*/
    color: rgb(202, 19, 19);
    font-weight: bold;
    font-size: 41px;
    font-style: normal;
    font-family: Fira Sans;
    padding-bottom: 2px;
}
.hidden-atd .hr-div-1 { /*UI redesign change, remove selector to revert*/
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: end;
    float: left;
    position: relative;
}
.hidden-atd .hr-div-1 hr { /*UI redesign change, remove selector to revert*/
    color: #777676;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}
.hidden-atd h1 { /*UI redesign change, remove selector to revert*/
    color: black;
    line-height: 1.2em;
    font-style: normal;
    font-size: 30px;
    font-weight: 350;
    font-family: Fira Sans;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.about-text-div {
    /*border: 1px solid black;*/
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 90px;
    width: 67%;
}
.about-text-div h3 {
    color: rgb(202, 19, 19);
    font-weight: bold;
    font-size: 41px;
    font-style: normal;
    font-family: Fira Sans;
    padding-bottom: 2px;
}
.hr-div-1 {
    /*border: 1px solid black;*/
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: end;
    float: left;
    position: relative;
}
.hr-div-1 hr {
    color: #777676;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;   
}
.about-text-div h1 {
    color: black;
    line-height: 1.2em;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    font-family: Fira Sans;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.about-text-div p {
    /*border: 1px solid black;*/
    padding: 0px;
    width: 100%;
    color: black;
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.button-div {
    margin-top: 30px;
}
.button-div .btn {
    color: rgb(202, 19, 19);
    background-color: white;
    font-weight: 700;
    border: 2px solid rgb(202, 19, 19);
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
    transition: transform .6s;
}
.button-div .btn:hover {
    color: white;
    background-color: rgb(202, 19, 19);
    transition: all 0.3s ease-in-out !important;
}
.button-div .btn:active {
    color: white;
    background-color: rgb(202, 19, 19);
    border: 1px solid rgb(202, 19, 19);
    transform: scale(0.9) !important;
}
/*.hr-div-2 {
    max-width: 100%;
    z-index: 1;
}
.hr-div-2 hr {
    color: #777676;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}*/
/*.hr-div-2 {
    position: absolute;
    top: 2000px;
    z-index: 1;
}*/

/*Our Services*/
#image-and-text-2-services {
    /*border: 1px solid black;*/
    max-width: 100%;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 64px;
    background-color: rgba(231, 224, 224, 0.87);
    /*background-image: linear-gradient(to bottom, #7a7c7b 50%, #bec0bf 100%);*/
}
#image-and-text-2-services h2 {
    /*border: 1px solid black;*/
    line-height: 1.2em;
    text-align: center;
}
#image-and-text-2-services .p-div {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: 17px;
}
#image-and-text-2-services .row-text-center {
    padding-top: 30px;
    padding-left: 27px;
    padding-right: 22px;
}
#image-and-text-2-services .col-md-4 {
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 26px;
}
#image-and-text-2-services .card {
    transition: .4s;
    border-radius: 6px;
}
#image-and-text-2-services .card img {
    border-radius: 6px 6px 0px 0px;
}
#image-and-text-2-services .card h4 {
    color: black;
    font-weight: 500;
    text-align: left;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#image-and-text-2-services .card:hover {
    position: relative;
    transform: scale(1.025);
    box-shadow: 7px 7px 33px 0 grey;
}
#image-and-text-2-services .card-footer {
    display: none;
    height: 10px;
}
/*.card-footer .btn {
    color: rgb(202, 19, 19);
    background-color: white;
    font-weight: 700;
    border: 2px solid rgb(202, 19, 19);
    transition: all 0.3s ease-in-out;
}
.card-footer .btn:hover {
    color: white;
    background-color: rgb(202, 19, 19);
}*/
.gen-button-div {
    display: flex;
    justify-content: center;
}
#gen-button {
    color: rgb(202, 19, 19);
    background-color: white;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid rgb(202, 19, 19) !important;
    transition: all 0.3s ease-in-out !important;
    transition: transform .6s;
}
#gen-button:hover {
    color: white;
    background-color: rgb(180, 19, 19);
    border: 2px solid rgb(180, 19, 19) !important;
    transition: all 0.3s ease-in-out !important;
}
#gen-button:active {
    color: white;
    background-color: rgb(180, 19, 19);
    border: 1px solid rgb(180, 19, 19) !important;
    transform: scale(0.9) !important;
}
/*.gen-button-hr {
    padding-left: 52px;
    padding-right: 48px;
}*/

/*Who We Are*/
.who-we-are {
    /*border: 1px solid black;*/
    background-image: url(./img/civil-engineering-tools-desktop-rrh6jj4xv7utkvdq.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 105px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 95px;
}
.who-we-are-div {
    width: 100%;
}
.wwa-animation {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.35, .35)}
    to {opacity: 1;}
}
.who-we-are h2 {
    /*border: 1px solid white;*/
    color: black;
}
.who-we-are p {
    /*border: 1px solid white;*/
    color: white;
    font-weight: 300;
    font-size: 25px;
}
.who-we-are .cert-class {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.who-we-are .certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    width: 60px;
    height: 60px;
    margin: 0px 15px 0px 15px;
}
.certifications img {
    width: 100%;
    border-radius: 50%;
}

/*What Our Clients Say*/
.what-clients-say {
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
}
.what-clients-say h2 {
    /*border: 1px solid black;*/
    margin-bottom: 0px;
}
.what-clients-say .wcs-line-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
    /*border: 1px solid black;*/
}
.wcs-line-div .line {
    width: 85%;
    height: 3px;
    background-color: rgb(218, 30, 30);
}
.what-clients-say .container {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 78px;
    padding-right: 90px;
    /*background-color: rgb(228, 219, 172);*/
}
.what-clients-say .row {
    min-width: 100%;
    background-color: white;
    /*border: 1px solid black;*/
    padding: 25px !important;
}
/*.what-clients-say .splide {
    background-color: orange;
}*/
.what-clients-say .splide__track {
    /*background-color: red;*/
    padding: 0px !important;
}
.what-clients-say .splide__list {
    padding: 0px;
    margin: 40px;
    /*background-color: pink;*/
}
.splide__slide.is-active .card {
    transform: scale(1.09);
    transition: all 0.4s ease-in-out;
    border: 1px solid rgb(121, 113, 113);
    box-shadow: 3px 3px 13px 1px grey;
}
.what-clients-say .col-sm-4 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    width: 30% !important;
    margin-right: 30px !important;
    margin-left: 0px !important;
    /*background-color: white;*/
}
.what-clients-say .card {
    width: 80% !important;
    margin: 20px;
    border: 1px solid rgb(190, 181, 181);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    font-family: calibri, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*box-shadow: 3px 3px 13px 1px grey;*/
    transition: all 0.4s ease-out;
}
.what-clients-say .text-content {
    /*border: 1px solid black;*/
    margin: 0px;
    padding: 12px 25px 0px 25px;
    max-width: 100%;
}
.what-clients-say .text-content p {
    /*border: 1px solid black;*/
    font-size: 13px;
    max-width: 100%;
}
.what-clients-say .text-content p .top-colon {
    display: block;
    height: 37px;
}
.what-clients-say .text-content p .bottom-colon {
    /*border: 1px solid black;*/
    width: 100%;
    display: block;
    text-align: right;
}
.what-clients-say .text-content p .top-colon, .bottom-colon {
    font-size: 35px;
    font-weight: 700;
    color: rgb(202, 19, 19);
}
.what-clients-say .image-content {
    /*border: 1px solid black;*/
    display: flex;
    padding: 0px 25px 18px 25px;
}
.what-clients-say .card-image-desc {
    /*border: 1px solid black;*/
    color: black;
}
.what-clients-say .card-image-stanbic {
    /*border: 1px solid black;*/
    position: relative;
    height: 65px;
    width: 60px;
    margin-right: 20px;
}
.what-clients-say .card-image-stanbic .card-img-stanbic {
    width: 100%;
    object-fit: cover;
    /*border: 2px solid black;*/
}
.what-clients-say .card-image-samarc {
    /*border: 1px solid black;*/
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 4px;
}
.what-clients-say .card-image-samarc .card-img-samarc {
    width: 65%;
    object-fit: cover;
    /*border: 2px solid black;*/
}
.what-clients-say .card-image-fabtek {
    /*border: 1px solid black;*/
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 17px;
    margin-top: 4px;
}
.what-clients-say .card-image-fabtek .card-img-fabtek {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /*border: 2px solid black;*/
}
.what-clients-say .card-image-chevron {
    /*border: 1px solid black;*/
    position: relative;
    height: 65px;
    width: 60px;
    margin-right: 5px;
}
.what-clients-say .card-image-chevron .card-img-chevron {
    width: 70%;
    object-fit: cover;
    /*border: 2px solid black;*/
}

/*Our Projects*/
.our-projects {
    background-color: rgba(231, 224, 224, 0.87);
    border: 1px solid rgba(231, 224, 224, 0.87); 
    padding: 80px 100px 90px 100px;
}
.op-div-1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /*border: 1px solid black;*/
}
.op-div-1-animation {
    animation: slideIn-1 2.75s;
}
@keyframes slideIn-1 {
    from {transform: translateX(-1100px);}
    to {transform: translateX(0px);}    
}
.op-div-1 img{
    width: 100%;
    border-radius: 6px;
}
.op-div-1 div {
    width: 33.3%;
    margin-right: 30px;
}
.op-div-1 h4 {
    width: 33.3%;
    text-align: center;
}
.op-div-2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /*border: 1px solid black;*/
}
.op-div-2-animation {
    animation: slideIn-2 2.75s;
}
@keyframes slideIn-2 {
    from {transform: translateX(1100px);}
    to {transform: translateX(-0px);}
}
.op-div-2 img{
    width: 100%;
    border-radius: 6px;
}
.op-div-2 div {
    width: 33.3%;
    margin-left: 30px;
}
.op-div-2 .seen {
    width: 33.3%;
    text-align: center;
}
.op-div-2 .unseen {
    display: none;
}
.op-button-div {
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
}
.op-button-div button {
    border-radius: 5px;
}

/*Request For A Quote*/
.request-for-quote-dv {
    position: relative;
    background-color: white;
    /*background: radial-gradient(circle at center, rgb(34, 34, 92) 40%, #a3a3cf 100%);*/
    padding-top: 30px;
    padding-bottom: 100px;
}
.request-for-quote-dv .sub-rfq {
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 101px;
    padding-right: 96px;
}
.rfq-image-div-1 {
    display: none;
}
.rfq-image-div-1 img {
    display: none;
    margin-bottom: 0px;
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
    height: 35vh;
}
.request-for-quote-dv .sub-rfq .rfq-image-div-2 {
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: absolute;
    left: 750px;
}
.request-for-quote-dv .rfq-image-div-2 img {
    margin-bottom: 0px;
    border-radius: 6px;
    max-width: 100%;
    min-height: 319.17px;
    object-fit: cover;
    z-index: 9;
}
.request-for-quote-dv .sub-rfq .rfq-form-div {
    /*border: 1px solid black;*/
    background-color: rgb(34, 34, 92);
    padding: 30px 100px 30px 30px;
    width: 60%;
    border-radius: 6px;
}
.request-for-quote-dv .rfq-form-div textarea {
    border-radius: 3.5px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.request-for-quote-dv .rfq-form-div textarea::placeholder {
    color: grey;
    opacity: 0.8;
}
.request-for-quote-dv .rfq-form-div textarea:focus {
    outline: none;
    border: 3px solid grey;
}
.request-for-quote-dv .rfq-form-div input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 3.5px;
}
.request-for-quote-dv .rfq-form-div input:focus{
    outline: none;
    border: 3px solid grey;
}
.request-for-quote-dv .rfq-form-div input::placeholder {
    color: grey;
    opacity: 0.8;
}
.request-for-quote-dv .rfq-form-div input[type=file] {
    background: #eee8e8;
    border: 1px soild white;
    cursor: pointer;
}
.request-for-quote-dv .rfq-form-div input[type=file]::file-selector-button {
    border: 1px solid rgb(199, 17, 17);
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    transition: transform .6s;
}
.request-for-quote-dv .rfq-form-div input[type=file]::file-selector-button:hover {
    border: 2px solid rgb(199, 17, 17);
}
.request-for-quote-dv .rfq-form-div input[type=file]::file-selector-button:active {
    transform: scale(0.9);
}
.request-for-quote-dv .sub-rfq button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(199, 17, 17);
    border: 1px solid rgb(199, 17, 17);
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out !important;
    transition: transform .6s;
}
.request-for-quote-dv .sub-rfq button:hover {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transition: all 0.3s ease-in-out !important;
}
.request-for-quote-dv .sub-rfq button:active {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transform: scale(0.9);
}

/*FOOTER SECTION*/
footer {
    background: rgb(32, 32, 32);
    position: relative;
    width: 100%;
    color: white;
    padding: 40px 100px 2px 100px;
    display: block;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: rgb(145, 140, 140)/*rgb(74, 158, 228)*/;
    text-decoration: underline;
    transition: 0.2s all ease-in-out;
}
.upper-footer {
    display: flex;
}
.upper-footer .left {
    width: 55%;
    display: block;
}
.upper-footer .left .social-media a {
    padding-right: 10px;
}
.upper-footer .left p {
    word-spacing: normal;
}
.upper-footer .left .dot {
    font-size: 19px;
}
/*.upper-footer .right a:hover {
    color: ;
}*/
.upper-footer .left p {
    font-weight: 600;
    font-size: 15px;
}
/*Help Center*/
#help-center {
    text-align: right;
    padding-left: 10px;
}
#help-center p {
    font-size: 15px;
}
.hc-form-div form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(201, 189, 189);
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
}
.hc-form-div input::placeholder {
    color: rgb(117, 114, 114);
    opacity: 0.8;
}
.hc-form-div input:focus {
    outline: none;
    border: 3px solid grey;
}
.hc-form-div form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(201, 189, 189);
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
}
.hc-form-div textarea::placeholder {
    color: rgb(117, 114, 114);
    opacity: 0.8;
}
.hc-form-div textarea:focus {
    outline: none;
    border: 3px solid grey;
}
.hc-form-div a {
    text-decoration: none;
}
.hc-form-div button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(199, 17, 17);
    border: 1px solid rgb(199, 17, 17);
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out !important;
    transition: transform .6s;
}
.hc-form-div button:hover {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transition: all 0.3s ease-in-out !important;
}
.hc-form-div button:active {
    background-color: rgb(170, 11, 11);
    border-color: rgb(170, 11, 11);
    transform: scale(0.9);
}
.lower-footer p {
    /*border: 1px solid black;*/
    text-align: center;
    font-size: small;
    font-weight: 100;
}
.lower-footer p .o-1 {
    display: none;
    font-weight: 600;
    word-spacing: 10px;
}
.lower-footer p .o-2 {
    word-spacing: normal;
}
.lower-footer .o-3 {
    word-spacing: normal;
}

/*RESPONSIVE DESIGN*/
/*Navigation Bar*/
@media screen and (max-width: 800px) {
    .navbar-nav {
        width: 100% !important;
        padding: 15px 30px 20px 30px !important;
        background-color: white;
        border-radius: 0px 0px 1px 1px;
        margin-top: 12px;
        box-shadow: 0 0 0 10000px rgba(0, 0, 0, .50);
    }
    .open {
        transition: all 0.9s ease-in-out !important;
    }
    .collapse {
        background-color: transparent;
    }
    /*.navbar-nav li a {
        border: 1px solid black;
        width: 100%;
    }*/
    .navbar-nav li a:hover:after {
        width: 10%;
    }
}
@media screen and (max-width: 570px) {
    .form-inline input {
        width: 200px;
    }
 }
/*Hero Section*/
@media screen and (max-width: 1075px) {
    .carousel-caption {
        margin-top: 7% !important;
    }
}
@media screen and (max-width: 1037px) {
    .carousel-caption:not(button) {
        transform: scale(0.9) !important;
    }
}
/*@media screen and (max-width: 1057px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div {
        left: 53.7vw;
    }
}
@media screen and (max-width: 937px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div {
        left: 52.7vw;
    }
}
@media screen and (max-width: 839px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div {
        left: 52vw;
    }
}
@media screen and (max-width: 801px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div {
        left: 51.7vw;
    }
}*/
@media screen and (max-width: 951px) {
    .carousel-caption {
        margin-top: 4% !important;
    }
}
@media screen and (max-width: 914px) {
    .carousel-caption {
        left: 90px;
    }
}
@media screen and (max-width: 870px) {
    .carousel-caption:not(button) {
        transform: scale(0.8) !important;
    }
}
@media screen and (max-width: 806px) {
    .carousel-caption:not(button) {
        transform: scale(0.7) !important;
        left: 10px;
        width: 100%;
        margin-top: 2% !important;
    }
}
@media screen and (max-width: 728px) {
    .carousel-caption:not(button) {
        transform: scale(0.6);
        left: 0px
    }
}
@media screen and (max-width: 678px) {
    .carousel-caption p {
        display: none;
    }
}
@media screen and (max-width: 597px) {
    .carousel-item img {
        min-width: 597px;
    }
}


/*Main Body Section*/
/*from here to the next comment covers rfq image resizing from desktop to mobile view*/
@media screen and (max-width: 1350.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 740px;
    }
}
@media screen and (max-width: 1300.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 700px;
    }
}
@media screen and (max-width: 1250.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 680px;
    }
}
@media screen and (max-width: 1200.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 650px;
    }
}
@media screen and (max-width: 1150.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 620px;
    }
}
@media screen and (max-width: 1120.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 590px;
    }
}
@media screen and (max-width: 1100.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 585px;
    }
}
@media screen and (max-width: 1055.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 555px;
    }
}
@media screen and (max-width: 1008.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 535px;
    }
}
@media screen and (max-width: 972.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 515px;
    }
}
@media screen and (max-width: 936.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 495px;
    }
}
@media screen and (max-width: 902.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 475px;
    }
}
@media screen and (max-width: 874.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 455px;
    }
}
@media screen and (max-width: 842.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 435px;
    }
}
@media screen and (max-width: 819.75px) {
    .request-for-quote-dv .sub-rfq .rfq-image-div-2 {
        left: 422px;
    }
}
/*what-clients-say ceases to display from here*/
@media screen and (max-width: 1203px) {
    .what-clients-say {
        display: none;
    }
}
/*mobile view starts here*/
@media screen and (max-width: 800px) {
    .navbar-toggler {
        margin-right: 0px;
    }
    #image-and-text-1 {
        display: block;
        padding-top: 35px;
        /*border: 5px solid black;*/
        padding: 33px 33px 0px 33px;
    }
    .navbar {
        padding-left: 38px;
        padding-right: 33px;
    }
    .about-text-div {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        /*border: 1px solid black;*/
    }
    .about-text-div h3 {
        display: flex;
    }
    .about-text-div h3, .about-text-div .hr-div-1, .about-text-div h1 { /*UI redesign change, remove property to revert*/
        display: none; 
    }
    .about-image-div {
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-left: 0px;
        /*border: 1px solid black;*/
        width: 100%;
    }
    .about-image-div ul {
        display: flex;
        /*border: 1px solid black;*/
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    .about-image-div ul li {
        width: 100%;
        text-align: center;
        /*border: 1px solid black;*/
        padding: 0px;
        margin: 0px;
    }
    .about-image-div ul li:first-of-type {
        display: none;
    }
    .about-image-div ul li img {
        object-fit: cover;
        padding: 0px;
        /*border: 1px solid black;*/
        width: 100vw;
        height: 35vh;
    }
    .button-div {
        text-align: center;
    }
    .img-1 {
        margin-bottom: 0px;
    }
    .about-image-div ul .img-2 {
        display: none; /*UI redesign change, remove property to revert*/
    }
    .about-image-div ul .img-1 {
        display: none;
    }
    .hidden-atd { /*UI redesign change, remove selector to revert*/
        /*border: 1px solid black;*/
        display: unset;
    }
    #image-and-text-2-services {
        padding: 1px 14px 24px 11px;
        margin-top: 50px;
        /*border: 1px solid black;*/
    }
    #image-and-text-2-services .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .our-projects {
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 39px;
        padding-bottom: 25px;
    }
    .op-div-1 {
        display: block;
        margin-bottom: 30px;
        /*border: 1px solid black;*/
    }
    .op-div-1 img{
        width: 100%;
        border-radius: 6px;
    }
    .op-div-1 div {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .op-div-1 h4 {
        display: unset;
    }
    .op-div-2 {
        display: block;
        margin-bottom: 30px;
        /*border: 1px solid black;*/
    }
    .op-div-2 img{
        width: 100%;
        border-radius: 6px;
    }
    .op-div-2 div {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .op-div-2 .seen {
        display: none;
    }
    .op-div-2 .unseen {
        display: unset;
    }
    .row-text-center {
        padding-left: 1px;
        padding-right: 1px;
    }
    /*.row-text-center .col-md-4:nth-of-type(3) {
        display: none;
    }*/
    /*.gen-button-hr {
        padding-left: 28px;
        padding-right: 28px;
    }*/
    .who-we-are {
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 1px;
        padding-bottom: 58px;
    }
    .what-clients-say {
        padding-top: 1px;
        padding-bottom: 18px;
    }
    .request-for-quote-dv {
        padding: 39px 39px 70px 39px;
    }
    .request-for-quote-dv h2 {
        margin-top: 0px !important;
    }
    .request-for-quote-dv .sub-rfq {
        display: block;
        padding: 0px;
        display: block;
    }
    .rfq-image-div-1 {
        display: unset;
        margin-bottom: 30px;
    }
    .rfq-image-div-1 img {
        display: unset;
        margin-bottom: 30px;
    }
    .rfq-image-div-2 img {
        display: none;
    }
    .request-for-quote-dv .sub-rfq .rfq-form-div {
        width: 100%;
        padding: 40px 30px 40px 30px;
        text-align: center;
    }
    footer {
        padding: 40px 40px 2px 40px;
    }
    #help-center .hidden-text {
        display: none;
    }
    .lower-footer .o-1 {
        display: none;
    }
    #image-and-text-2-services h2 {
        font-size: 31px !important;
    }
    #image-and-text-2-services h4 {
        font-size: 17px !important;
    }
    .who-we-are h2 {
        font-size: 31px !important;
    }
    .who-we-are p {
        font-size: 17px;
    }
    .who-we-are .certifications {
        width: 50px;
        height: 50px;
    }
    .op-div-1 h4 {
        font-size: 17px !important
    }
    .op-div-2 h4 {
        font-size: 17px !important
    }
    .what-clients-say h2 {
        font-size: 31px !important;
    }
    .our-projects h2 {
        font-size: 31px !important;
    }
    .request-for-quote-dv h2 {
        font-size: 31px !important;
    }
    button:not(#nav-tog-btn), .btn {
        font-size: 14px !important;
    }
    .hidden-atd h3 {
        font-size: 33px;
    }
    .hidden-atd h1 {
        font-size: 25px;
    }
}
/*@media screen and (max-width: 597px) { /*UI redesign change, remove selector to revert
    .hidden-atd h3, .hidden-atd .hr-div-1, .hidden-atd h1 {
        transform: scale(0.85);
        padding: 0px;
        margin: 0px;
    }
}*/
@media screen and (max-width: 570px) {
    .request-for-quote-mv .rfq-form-div input[type=file] {
        margin-right: 20px;
        margin-left: 20px
    }
}
@media screen and (max-width: 451px) {
    .request-for-quote-mv .rfq-image-div img {
        height: 200px;
    }
}
@media screen and (max-width: 369px) {
    .request-for-quote-mv .rfq-image-div img {
        height: 150px;
    }
    .who-we-are .certifications {
        width: 50px;
        height: 50px;
    }
}
/*@media screen and (max-width: 540px) {
    .quote-right .text {
        font-size: 30px;
    }
}*/

/*Footer Section*/
/*@media screen and (max-width: 513px) {
    .upper-footer .left {
        display: block;
        line-height: 0.7em;
    }
}
@media screen and (max-width: 343px) {
    .upper-footer .left-social-media {
        display: block;
    }
}*/
