@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}
@font-face {
    font-family: Freestyle Script;
    src: url(./assets/freestyle-script/FREESCPT.TTF);
}
@import url('https://fonts.cdnfonts.com/css/freestyle-script');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Source Sans Pro';
    background: linear-gradient(to right, rgba(245,245,245,.8), rgba(245,245,245,.8));
}
.social-media {
    /*border: 1px solid black;*/
    background-color: white;
    padding: 12px 8px 0px 8px;
    position: fixed;
    z-index: 10;
    top: 200px;
    left: 0;
    background: white;
    box-shadow: 10px 7px 29px 5px rgba(100,100,111,.2);
}
.social-media i {
    display: block;
    font-size: xx-large;
    padding-bottom: 10px;
    transition: all .3s ease-in-out;
}
.social-media a {
    text-decoration: none;
    color: black;
}
.social-media i:hover {
    color: blueviolet;
    transition: all .3s ease-in-out;
}
.line-div {
    display: flex;
    justify-content: center;
}
.line-div .line {
    width: 3%;
    height: 5px;
    border-radius: 5px;
    background-color: blueviolet;
}
/*NAVIGATION PANEL*/
.navbar {
    display: flex;
    padding: 20px 32px 20px 49px !important;
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
}
.profile {
    display: flex;
    align-items: center;
}
.navbar .collapse {
    justify-content: right;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/*.navbar-nav {
    text-align: right;
}*/
.navbar-nav .nav-item {
    padding: 10px;
}
.navbar-nav .nav-item:first-of-type {
    border-top: none;
}
.nav-link {
    color: black;
    font-weight: bold;
    font-size: medium;
}
.navbar-nav .nav-link:hover {
    color: blueviolet;
}
.navbar .profile-picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 8px;
}
.navbar .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.navbar .name-title {
    display: flex;
    flex-direction: column;
    justify-content: left;  
}
.navbar h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: large;
    font-weight: bold;
    font-family: 'Source Sans Pro';
}
.navbar .job-description {
    color: rgb(139, 136, 136);
    font-size: 12px;
}
.navbar .name-title p {
    margin: 0px;
    font-size: small;
    color: rgb(119, 118, 118);
}
.navbar-toggler-icon i {
    color: black !important;
}

/*MAIN BODY*/
/*Hero*/
.hero {
    position: relative;
    margin: 100px 0px 0px 0px;
    padding: 140px 0px 50px 0px;
    /*border: 1px solid black;*/
    text-align: center;
    background: url(./resources/common-bg.svg);
    background-position: center;
}
.hero h1 {
    font-size: 4rem;
    font-weight: 900;
}
.hero p {
    font-size: larger;
    margin-top: 8px;
}
.hero button {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 14px 40px 14px 40px;
    background-color: blueviolet;
    color: white;
    margin: 15px 0px 15px 0px;
    transition: all .2s ease-in-out;
}
.hero button:hover {
    transform: translateY(-4px);
    transition: all .2s ease-in-out;
}
.hero .arrow-down {
    color: black;
    animation: fadeInOut 2s infinite;
    -webkit-animation: fadeInOut 2s infinite;
    -moz-animation: fadeInOut 2s infinite;
    -o-animation: fadeInOut 2s infinite;
}
@keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.hero .arrow-down i {
    margin-top: 10px;
    font-size: 24px;
}

/*About*/
#about {
    position: relative;
    margin: 0px 49px 0px 49px;
    padding: 160px 0px 20px 0px;
    /*border: 1px solid black;*/
}
#about h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}
#about .desc {
    text-align: center;
    font-size: 1.1em;
}
.about-subdiv {
    display: grid;
    grid-template-columns: 50% 50%;
}
.bio {
    padding-right: 30px;
    padding-left: 50px;
}
.bio h3 {
    font-weight: bold;
}
.bio p {
    line-height: 30px;
}
.bio p a {
    font-weight: bold;
    color: blueviolet;
    text-decoration: none;
}
.bio p a:hover {
    font-weight: bold;
    color: blueviolet;
    text-decoration: underline;
}
.resume-download-btn {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 14px 40px 14px 40px;
    background-color: blueviolet;
    color: white;
    transition: all .2s ease-in-out;
}
.resume-download-btn:hover {
    transform: translateY(-4px);
    transition: all .2s ease-in-out;
}
.bio-br {
    display: none;
}
.skills {
    padding-left: 20px;
    padding-right: 50px;
}
.skills h3 {
    font-weight: bold;
}
.skills p {
    line-height: 30px;
}
.skills span {
    padding: 7px 13px 7px 13px;
    border-radius: 5px;
    margin: 0px 10px 20px 0px;
    display: inline-flex;
    background: rgba(0,0,0,.1);
    font-weight: 600;
}

/*Projects*/
#projects {
    position: relative;
    padding: 20px 0px 20px 0px;
    margin: 49px 49px 0px 49px;
    /*border: 1px solid black;*/
}
#projects h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}
#projects .desc {
    text-align: center;
    font-size: 1.1em;
}
#projects h3 {
    font-weight: bold;
    margin-bottom: 15px;
}
.viewlink-btn {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 14px 40px 14px 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: blueviolet;
    color: white;
    transition: all .2s ease-in-out;
}
.viewlink-btn:hover {
    transform: translateY(-4px);
    transition: all .2s ease-in-out;
}
.project-ee {
    display: flex;
}
.project-ee .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-ee .img-div img {
    width: 90px;
}
.project-ee .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}
.project-steakholder {
    display: flex;
}
.project-steakholder .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-steakholder .img-div img {
    width: 250px;
    border-radius: 5px;
}
.project-steakholder .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}
.project-moviebox {
    display: flex;
}
.project-moviebox .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-moviebox .img-div img {
    width: 250px;
    background-color: black;
    padding: 13px;
    border-radius: 10px;
}
.project-moviebox .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}
.project-fine-girl {
    display: flex;
}
.project-fine-girl .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-fine-girl .img-div img {
    width: 245px;
    border-radius: 10px;
    border: 3px solid black;
}
.project-fine-girl .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}
.project-noughts-crosses {
    display: flex;
}
.project-noughts-crosses .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-noughts-crosses .img-div img {
    width: 245px;
    border-radius: 10px;
}
.project-noughts-crosses .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}
.project-coinlore {
    display: flex;
}
.project-coinlore .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-coinlore .img-div img {
    width: 245px;
    border-radius: 10px;
}
.project-coinlore .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}
/* .project-mangallo {
    display: flex;
}
.project-mangallo .img-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-mangallo .img-div img {
    width: 400px;
}
.project-mangallo .img-desc {
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
} */
/*.img-desc p strong {
    color: blueviolet;
}*/

/*Contact*/
#contact {
    position: relative;
    padding: 20px 0px 20px 0px;
    margin: 49px 49px 49px 49px;
    /*border: 1px solid black;*/
}
#contact h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}
#contact .desc {
    text-align: center;
    font-size: 1.1em;
}
.contact-form-div {
    display: flex;
    justify-content: center;
}
.contact-form {
    width: 50%;
    padding: 50px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(100,100,111,.2) 0 7px 75px 0;
}
.contact-form label {
    margin-bottom: 10px;
    font-weight: 700;
}
.contact-form input {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e4e1e1;
    background-color: #e4e1e1;
    margin-bottom: 50px;
}
.contact-form input::placeholder {
    color: rgb(175, 174, 174);
    font-weight: 600;
}
.contact-form input:focus {
    outline: none;
    border: 2px solid rgb(182, 177, 177);
    transition: all .2s ease-in-out;
}
.contact-form textarea {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid  #e4e1e1;
    background-color:  #e4e1e1;
    margin-bottom: 50px;
}
.contact-form textarea::placeholder {
    color: rgb(175, 174, 174);
    font-weight: 600;
}
.contact-form textarea:focus {
    outline: none;
    border: 2px solid rgb(182, 177, 177);
    transition: all .2s ease-in-out;
}
.contact-form a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.contact-form-submit-btn {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 14px 40px 14px 40px;
    background-color: blueviolet;
    color: white;
    transition: all .2s ease-in-out;
}
.contact-form-submit-btn:hover {
    transform: translateY(-4px);
    transition: all .2s ease-in-out;
}

/*FOOTER*/
.footer {
    position: relative;
    display: block;
    background: url(./resources/0106e04ff2b0c92ee2479e74446f59f2-1280.jpg)/*rgb(37, 35, 35)*/;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 49px 49px 29px 49px;
    color: rgb(226, 222, 222);
}
.social-media-footer {
    display: none;
}
.social-media-footer a {
    padding-right: 6px;
    font-size: 14px;
    text-decoration: none;
}
.social-media-footer i {
    color: white;
    transition: all .3s ease-in-out;
}
.social-media-footer i:hover {
    color: blueviolet;
    transition: all .3s ease-in-out;
}
.footer .copyright {
    font-size: 0.9em;
}

/*Media Query*/
@media screen and (max-width: 1075px) {
    .about-subdiv {
        display: block;
    }
    .viewlink-btn {
        margin-bottom: 0px;
    }
    .project-ee, .project-steakholder, .project-moviebox, .project-mangallo, .project-fine-girl, .project-noughts-crosses, .project-coinlore {
        display: block;
    }
    .project-ee .img-div, .project-steakholder .img-div, .project-moviebox .img-div, .project-mangallo .img-div, .project-fine-girl .img-div, .project-noughts-crosses .img-div, .project-coinlore .img-div {
        width: 100%;
        padding-bottom: 30px;
    }
    .project-ee .img-div img {
        width: 60px;
    }
    .project-steakholder .img-div img {
        width: 190px;
        border-radius: 5px;
    }
    .project-moviebox .img-div img {
        width: 185px;
    }
    .project-fine-girl .img-div img {
        width: 180px;
    }
    .project-noughts-crosses .img-div img {
        width: 180px;
    }
    .project-coinlore .img-div img {
        width: 180px;
    }
    /* .project-mangallo .img-div img {
        width: 310px;
    } */
    .project-ee .img-desc, .project-steakholder .img-desc, .project-moviebox .img-desc, .project-mangallo .img-desc, .project-fine-girl .img-desc, .project-noughts-crosses .img-desc, .project-coinlore .img-desc {
        width: 100%;
        margin-bottom: 35px;
        padding-left: 40px;
    }
    .bio, .skills {
        padding-left: 40px;
    }
    .bio-br {
        display: unset;
    }
}
@media screen and (max-width: 1043px) {
    .contact-form {
        width: 100%;
    }
    .contact-form-div {
        padding: 0px 40px 0px 40px;
    }
}
@media screen and (max-width: 767px) {
    .social-media {
        display: none;
    }
    #about h2, #projects h2, #contact h2 {
        font-size: 1.7em;
    }
    .bio h3, .skills h3 {
        font-size: 1.3rem;
    }
    #projects h3 {
        font-size: 1.3rem;
    }
    .hero button, .resume-download-btn, .contact-form-submit-btn, .viewlink-btn {
        font-size: 17px;
        padding: 10px 36px 10px 36px;
    }
    .navbar {
        padding: 20px 20px 20px 20px !important;
    }
    .navbar .nav-item {
        border-top: 1px solid rgb(214, 208, 208);
    }
    .hero {
        padding-top: 100px;
        margin: 80px 0px 0px 0px;
    }
    .hero h1 {
        font-size: 2.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero p {
        padding-left: 20px;
        padding-right: 20px;
    }
    #about {
        margin: 0px 20px 0px 20px;
    }
    .about-subdiv {
        padding-left: 0px;
    }
    .bio, .skills {
        padding: 0px;
    }
    #projects {
        margin: 0px 20px 0px 20px;
    }
    .project-ee .img-desc, .project-steakholder .img-desc, .project-moviebox .img-desc, .project-mangallo .img-desc, .project-fine-girl .img-desc, .project-noughts-crosses .img-desc, .project-coinlore .img-desc {
        padding: 0px;
    }
    #contact {
        margin: 0px 20px 0px 20px;
    }
    .contact-form-div {
        padding: 0px;
        margin-bottom: 100px;
    }
    .footer {
        padding: 20px 20px 8px 20px;
    }
    .footer h3 {
        font-size: 1.1em;
    }
    .footer-desc {
        font-size: 0.8em;
    }
    .footer .copyright {
        font-size: 0.8em;
    }
    .social-media-footer {
        display: unset;
    }
}
@media screen and (max-width: 469px) {
    .footer-desc br {
        display: none;
    }
}

